<main class="main">
    <h1 class="title">Twitterlab</h1>
<form action="" class="form">
    <label for="save data">
        <input type="button" value="Guardar datos" id="save" class="input-save js-btnSaveData" />
        </label>
        <label for="recover data">
            <input type="button" value="Recuperar datos" id="recover" class="input-recover js-btnRecoverData" />
        </label>

</form> 
<div class="list">
    <ul class="list-data js-listData">
        
    </ul>
    <ul class="friend js-friend"></ul>
</div>   

</main>